@font-face { 
    font-family: "American Text"; 
    src: url("./american-text/AmericanText-2OVw.ttf") 
  }  


  @font-face { 
    font-family: "Nanum Gothic"; 
    src: url("./Nanum_Gothic/NanumGothic-Regular.ttf"); 
  }  
  @font-face { 
    font-family: "Nanum Gothic Bold"; 
    src: url("./Nanum_Gothic/NanumGothic-Bold.ttf"); 
  }  
  @font-face { 
    font-family: "Nanum Gothic ExtraBold"; 
    src: url("./Nanum_Gothic/NanumGothic-ExtraBold.ttf"); 
  }  