@font-face { 
    font-family: "Chilanka"; 
    src: url("./Chilanka/Chilanka-Regular.ttf"); 
  }

  @font-face { 
    font-family: "La Belle Aurore"; 
    src: url("./La_Belle_Aurore/LaBelleAurore-Regular.ttf"); 
  }

  @font-face { 
    font-family: "Literata"; 
    src: url("./Literata/Literata-VariableFont_opsz_wght.ttf"); 
  }

  @font-face { 
    font-family: "Open Sans"; 
    src: url("./Open_Sans/OpenSans-VariableFont_wdthwght.ttf"); 
  }

  @font-face { 
    font-family: "Oswald"; 
    src: url("./Oswald/Oswald-VariableFont_wght.ttf"); 
  }

  @font-face { 
    font-family: "Quicksand"; 
    src: url("./Quicksand/Quicksand-VariableFont_wght.ttf"); 
  }

  @font-face { 
    font-family: "Ubuntu"; 
    src: url("./Ubuntu/Ubuntu-Regular.ttf"); 
  }

  @font-face { 
    font-family: "Roboto Mono"; 
    src: url("./Roboto_Mono/RobotoMono-VariableFont_wght.ttf"); 
  }  

  @font-face { 
    font-family: "Rubik"; 
    src: url("./Rubik/Rubik-VariableFont_wght.ttf"); 
  }  

  @font-face { 
    font-family: "Barlow"; 
    src: url("./Barlow/Barlow-ExtraLight.ttf"); 
  }  

  @font-face { 
    font-family: "Herald Square"; 
    src: url("./herald-square/HeraldSquare.ttf"); 
  }  

  @font-face { 
    font-family: "Herald Square Hollow"; 
    src: url("./herald-square/HeraldSquare2.ttf"); 
  }  

  @font-face { 
    font-family: "Vintage"; 
    src: url("./vintage/VintageRegular-RpG7l.ttf"); 
  }  
  @font-face { 
    font-family: "Jackwrite"; 
    src: url("./jackwrite/Jackwrite-8MxjA.ttf"); 
  }  

  @font-face { 
    font-family: "Jackwrite Thin"; 
    src: url("./jackwrite/JackwriteThin-YzvOL.ttf"); 
  }  

  @font-face { 
    font-family: "Jackwrite Bold"; 
    src: url("./jackwrite/JackwriteBold-BW1Yn.ttf"); 
  }  

  @font-face { 
    font-family: "Consulate"; 
    src: url("./consulate/ConsulateConsulateRegular-p7eZd.ttf"); 
  }  