@font-face { 
    font-family: "Chilanka"; 
    src: url("./Chilanka/Chilanka-Regular.ttf"); 
  }

  @font-face { 
    font-family: "La Belle Aurore"; 
    src: url("./La_Belle_Aurore/LaBelleAurore-Regular.ttf"); 
  }

  @font-face { 
    font-family: "Literata"; 
    src: url("./Literata/Literata-VariableFont_opsz_wght.ttf"); 
  }

  @font-face { 
    font-family: "Open Sans"; 
    src: url("./Open_Sans/OpenSans-VariableFont_wdthwght.ttf"); 
  }

  @font-face { 
    font-family: "Oswald"; 
    src: url("./Oswald/Oswald-VariableFont_wght.ttf"); 
  }

  @font-face { 
    font-family: "Quicksand"; 
    src: url("./Quicksand/Quicksand-VariableFont_wght.ttf"); 
  }

  @font-face { 
    font-family: "Ubuntu"; 
    src: url("./Ubuntu/Ubuntu-Regular.ttf"); 
  }

  @font-face { 
    font-family: "Roboto Mono"; 
    src: url("./Roboto_Mono/RobotoMono-VariableFont_wght.ttf"); 
  }  

  @font-face { 
    font-family: "Rubik"; 
    src: url("./Rubik/Rubik-VariableFont_wght.ttf"); 
  }  

  @font-face { 
    font-family: "Barlow"; 
    src: url("./Barlow/Barlow-ExtraLight.ttf"); 
  }  

  @font-face { 
    font-family: "Jackwrite"; 
    src: url("./jackwrite/Jackwrite-8MxjA.ttf"); 
  }  

  @font-face { 
    font-family: "Jackwrite Thin"; 
    src: url("./jackwrite/JackwriteThin-YzvOL.ttf"); 
  }  

  @font-face { 
    font-family: "Jackwrite Bold"; 
    src: url("./jackwrite/JackwriteBold-BW1Yn.ttf"); 
  }  

  @font-face { 
    font-family: "Consulate"; 
    src: url("./consulate/ConsulateConsulateRegular-p7eZd.ttf"); 
  }  

  @font-face { 
    font-family: "Cormorant SC"; 
    src: url("./Cormorant_SC/CormorantSC-Regular.ttf"); 
  }  

  @font-face { 
    font-family: "Cormorant SC Light"; 
    src: url("./Cormorant_SC/CormorantSC-Light.ttf"); 
  }  

  @font-face { 
    font-family: "Cormorant SC Bold"; 
    src: url("./Cormorant_SC/CormorantSC-Bold.ttf"); 
  }  

  @font-face { 
    font-family: "Cormorant SC Medium"; 
    src: url("./Cormorant_SC/CormorantSC-Medium.ttf"); 
  }  

  @font-face { 
    font-family: "Cormorant SC SemiBold"; 
    src: url("./Cormorant_SC/CormorantSC-SemiBold.ttf"); 
  }  


  @font-face { 
    font-family: "Nanum Gothic"; 
    src: url("./Nanum_Gothic/NanumGothic-Regular.ttf"); 
  }  
  @font-face { 
    font-family: "Nanum Gothic Bold"; 
    src: url("./Nanum_Gothic/NanumGothic-Bold.ttf"); 
  }  
  @font-face { 
    font-family: "Nanum Gothic ExtraBold"; 
    src: url("./Nanum_Gothic/NanumGothic-ExtraBold.ttf"); 
  }  