@font-face { 
    font-family: "Merriweather"; 
    src: url("./merriweather/Merriweather-RXwe.ttf") 
  }   

  @font-face { 
    font-family: "Merriweather Black"; 
    src: url("./merriweather/MerriweatherBlack-BX3n.ttf") 
  }   
  @font-face { 
    font-family: "Merriweather Bold"; 
    src: url("./merriweather/MerriweatherBold-8gyA.ttf") 
  }   
  @font-face { 
    font-family: "Merriweather Light"; 
    src: url("./merriweather/MerriweatherLight-YPGL.ttf") 
  }  

  @font-face { 
    font-family: "Radis Sans"; 
    src: url("./Radis_Sans/Radis_Sans.otf"); 
  }  