@font-face { 
    font-family: "Merriweather"; 
    src: url("./merriweather/Merriweather-RXwe.ttf") 
  }   

  @font-face { 
    font-family: "Merriweather Black"; 
    src: url("./merriweather/MerriweatherBlack-BX3n.ttf") 
  }   
  @font-face { 
    font-family: "Merriweather Bold"; 
    src: url("./merriweather/MerriweatherBold-8gyA.ttf") 
  }   
  @font-face { 
    font-family: "Merriweather Light"; 
    src: url("./merriweather/MerriweatherLight-YPGL.ttf") 
  }  

  @font-face { 
    font-family: "Radis Sans"; 
    src: url("./Radis_Sans/Radis_Sans.otf"); 
  }  
  @font-face { 
    font-family: "Mechanical Regular"; 
    src: url("./mechanical-font/Mechanical-g5Y5.otf") 
  }  
  @font-face { 
    font-family: "Mechanical Bold"; 
    src: url("./mechanical-font/MechanicalBold-oOmA.otf") 
  }  
  @font-face { 
    font-family: "Mechanical Condensed"; 
    src: url("./mechanical-font/MechanicalCondensed-ZeDx.otf") 
  }  
  @font-face { 
    font-family: "Mechanical Condensed Bold"; 
    src: url("./mechanical-font/MechanicalBoldCondensedOblique-0B3o.otf") 
  }  